# This is for debugging purposes. Please, do not use this for production code!

PermitRootLogin yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes
PermitEmptyPasswords yes
UsePAM yes
Subsystem sftp /usr/libexec/sftp-server
