
# Configration fragment from buildroot-external-mender/board/freescale/imx8mqevk

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_MENDER_PATH)/board/common/patches/ $(BR2_EXTERNAL_MENDER_PATH)/board/freescale/imx8mqevk/patches/"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_MENDER_PATH)/board/common/rootfs_overlay $(BR2_EXTERNAL_MENDER_PATH)/board/freescale/imx8mqevk/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx8-bootloader-prepare.sh $(BR2_EXTERNAL_MENDER_PATH)/board/freescale/imx8mqevk/post-image.sh"

